@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

$font-main-title: 'Anton', sans-serif;
$font-text: 'Manrope', sans-serif;
$bckgrd-color: #ededed;
$alt-bck-color: #fff;
$main-text-color: #1b1b1b;
$alt-text-color: #7a7a7a;
$title-text-color: #000;
$tag-search-color: #c6c6c6;

*{
    box-sizing: border-box;
}

header{
    height: 667px;
    background: url(../assets/misc/lampos-aritonang-24gR_9lCdes-unsplash.jpg) center/cover no-repeat;
}

#main-search-container{

    p {
        font-family: $font-main-title;
    }
    
    button {
        height: 52px;
        width: 52px;
        
        &:hover{
            background-color: #FFD15B;
            color: $dark-text-emphasis;
        }
    }
}

main{
    background-color: $bckgrd-color;
}

#tag-search{
    color:$main-text-color;

    ul {
        height: 556px; //TODO changer la taille lorsqu'on ouvre le menu
        // overflow: hidden; // TODO changer le type d'overflow lorsqu'on ouvre le menu
    }
    
    h2 {
        color: $main-text-color;
        font-family: $font-text;
        font-size: 1rem;
        font-weight: 500;
    }

    form {
        border-radius: 2px;
        border: $tag-search-color solid 1px;
        margin-left: 0.05rem;
        margin-right: 0.05rem;
    }
    
    input{
        color: $alt-text-color;
        
        &:focus{
            outline: none;
        }
    }
    
    button{
        color: $alt-text-color;
    }

    #key-list{
        height: 80%;
        overflow: scroll;
    }

}
.test {
    border: solid green 3px;
    
}
.test2 {
    border: solid blue 3px;
    
}

#recipes-result {
    height: 56px;
    font-family: $font-main-title;
}

#recipes{

    article {
        height: 731px;
        width: 380px;

        img {
            height: 253px;
            object-fit: cover;
        }

        h3{
            font-family: $font-main-title;
            color:$title-text-color
        }

        h4 {
            font-family: $font-text;
        }

        p {
            font-family: $font-text;
            font-size: 0.75rem;
        }

        .custom-color{
            color: $alt-text-color;
        }
    }
}